<template [ngIf]="player">
<div class="per100_bg">
	<div class="con_width990">
		<!-- 教练简历 -->
		<div class="page_title">
			<template [ngIf]="likeType=='coach'"><span>教练介绍</span></template>	
			<template [ngIf]="likeType=='leader'"><span>领队介绍</span></template>
		</div>
		<div class="part_box">
			<div class="member_header">
				<template [ngIf]="player.avatar">
				<img alt="{{player.name}}" src="{{prefixImg}}{{player.avatar}}?imageView/1/w/300/h/400" />
				</template>
				<template [ngIf]="!player.avatar">
				<img alt="{{player.name}}" src="app/images/defaul_male.jpg" />
				</template>
			</div>
			<div class="member_like">
				<span>{{player.name}}</span>
				<span *ngIf="like" class="span_mark" (click)="addLike(true)">
					<span [class]="like.like?'span_unlike32':'span_like32'">&nbsp;</span>
					<span>{{like.likeNum}}</span>
				</span>
			</div>
			<ul class="info_list">
				<li>
					<span class="list1">生日</span>
					<span class="list2">
						<template [ngIf]="player.birthday">
							{{player.birthday | df:'yyyy-MM-dd'}}
						</template>
					</span>
				</li>
				<li>
					<span class="list1">国籍</span>
					<span class="list2">{{player.country}}</span>
				</li>
				<li>
					<span class="list1">出生地</span>
					<span class="list2">{{player.birthplace}}</span>
				</li>
			</ul>
		</div>
		<!-- 执教生涯 -->
		<template [ngIf]="player.introduce">
		<div class="part_title">
			<div class="bar_left">&nbsp;</div>
			<div class="bar_border">
				<div class="bar_middle">执教生涯</div>
				<div class="bar_right">&nbsp;</div>
				<div class="bar_other" style="display:none;">&nbsp;</div>
			</div>
		</div>
		<div [innerHTML]="player.introduce" class="part_box">&nbsp;</div>
		</template>
	</div>
</div>
</template>