@function pxTorem($px, $base-font-size: 37.5px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return pxTorem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return (($px / $base-font-size) * 1)+rem;
}
.con_width{
  width:pxTorem(335);
  margin:0 auto pxTorem(100);
}
.user_box{
  width:100%;
  overflow:hidden;
}
.page_title{
  width:100%;
  height:auto;
  padding:pxTorem(20) 0;
  background:url("http://s.files.c-f.com/point.png") 0 pxTorem(40) repeat-x;
  span{
    display:block;
    width:pxTorem(120);
    height:pxTorem(40);
    line-height:pxTorem(40);
    margin:0 auto;
    font-size:pxTorem(20);
    text-align:center;
    background-color:#ffffff;
  }
}
.part_title{
  width:100%;
  height:pxTorem(40);
  margin:pxTorem(20) 0 pxTorem(20);
  overflow:hidden;
  border-bottom:pxTorem(1) #d9d9d9 solid;
  div{
    float:left;
  }
  .bar_left{
    width:pxTorem(40);
    height:pxTorem(41);
    background:url("http://s.files.c-f.com/title_ball.jpg") 0 0 no-repeat;
  }
  .bar_border{
    width:60%;
    height:pxTorem(40);
    line-height:pxTorem(40);
  }
  .bar_middle{
    width:auto;
    height:pxTorem(40);
    font-size:pxTorem(16);
    background-color:#f2f2f2;
    color:#333333;
    padding:0 pxTorem(10);
  }
  .bar_right{
    width:pxTorem(88);
    height:pxTorem(40);
    background:url("http://s.files.c-f.com/title_end.jpg") 0 0 no-repeat;
  }
}

.member_header{
  width:pxTorem(120);
  height:pxTorem(160);
  float:left;
  img{
    width:pxTorem(120);
    height:pxTorem(160);
  }
}
.info_list{
  width:65%;
  height:auto;
  border:pxTorem(1) #d9d9d9 solid;
  float:left;
  border-bottom:none;
  li{
    border-bottom:pxTorem(1) #d9d9d9 solid;
    overflow:hidden;
    background-color:#f2f2f2;
    height:pxTorem(40);
    line-height:pxTorem(49);
    padding:0 pxTorem(10);
    font-size: pxTorem(16);
    b{
      font-size:pxTorem(16);
    }
  }
}
.news_box{
  display:block;
  width:pxTorem(310);
  height:pxTorem(233);
  overflow:hidden;
  float:left;
  position:relative;
  margin:0 pxTorem(10) pxTorem(10) 0;
  img{
    width:pxTorem(310);
    height:pxTorem(233);
  }
}
.text_bg{
  display:block;
  font-size:pxTorem(14);
  position:absolute;
  bottom:0;
  width:pxTorem(310);
  height:pxTorem(50);
  line-height:pxTorem(50);
  padding:0 pxTorem(15);
  background-color:#000000;
  color:#ffffff;
  opacity:0.7;
  overflow:hidden;
  &:hover{
    opacity:0.85;
    color:#ffff00;
  }
}
.bt_play{
  display:block;
  width:pxTorem(64);
  height:pxTorem(64);
  position:absolute;
  top:25%;
  left:40%;
  background:url("http://s.files.c-f.com/bt_play.png") 0 0 no-repeat;
}
.bt_close{
  display:block;
  width:pxTorem(40);
  height:pxTorem(40);
  position:absolute;
  top:pxTorem(10);
  right:pxTorem(10);
  background:url("http://s.files.c-f.com/close.png") 0 0 no-repeat;
  &:hover{
    background-position:pxTorem(-40) 0;
  }
}
