<div class="per100_bg">
    <div class="con_width990">
      <!-- 中国足球网客户端下载 -->
      <div class="part_title">
          <div class="bar_left">&nbsp;</div>
          <div class="bar_border">
            <div class="bar_middle">
                中国足球网客户端下载
            </div>
            <div class="bar_right">&nbsp;</div>
            <div class="bar_other" style="display:none;">&nbsp;</div>
          </div>
        </div>
        <div class="part_box">
            <div class="d_box">
                <ul>
                    <li><span class="d_icon d_ios">&nbsp;</span><span>中国足球网iOS客户端</span></li>
                    <li class="code_img"><img src="http://s.files.c-f.com/www/d_iOS.jpg" /></li>
                    <li class="code_bt"><a href="https://itunes.apple.com/cn/app/zhong-guo-zu-qiu-wang/id1112038310">立即下载</a> </li>
                </ul>
            </div>
            <div class="d_box">
                <ul>
                    <li><span class="d_icon d_andr">&nbsp;</span><span>中国足球网安卓客户端</span></li>
                    <li class="code_img"><img src="/app/images/d_android.jpg" /></li>
                    <li class="code_bt"><a href="javascript:void(0);">立即下载</a> </li>
                </ul>
            </div>
        </div>
        <!-- 中国足球网简介 -->
        <div class="part_title">
            <div class="bar_left">&nbsp;</div>
            <div class="bar_border">
                <div class="bar_middle">
                    中国足球网简介
                </div>
                <div class="bar_right">&nbsp;</div>
                <div class="bar_other" style="display:none;">&nbsp;</div>
            </div>
        </div>
        <div class="part_box d_tbox">
            <p>中国足球网（www.c-f.com）及APP将提供资讯新闻、政策解读、数据支持、培训测试等多个功能，为球迷、球员、教练员，裁判员及赛事组织者提供专业服务，将成为中国足球最专业的信息平台。</p>
            <p>“与中国足球一起出发“！中国足球网及 App目的明确，将以正能量推广中国足球，为球迷及从业者提供资源共享、传播足球文化价值的一个平台，促进中国足球文化与产业的发展。</p>
            <p>中国足球网将提供资讯新闻、政策解读、数据支持、培训测试4个核心功能。</p>
            <p>资讯新闻：包括中国男足，中国女足，青少年足球，教练员裁判员等4大方面新闻资讯全覆盖，在即将到来的世界杯亚洲区预选赛12强赛，中国足球网将提供赛事直播，赛事报道，专家解读，数据分析等全方位立体化报道。通过短视频与赛事集锦，形成报道矩阵。</p>
            <p>政策解读：中国足球网将与中国足协深度合作，聚集了知名专家，能够第一时间深度解读官方文件，行业信息，政策方向，“把脉”中国足球发展动态。</p>
            <p>数据支持：中国足球网将提供中国足球7支国家队的赛事信息，数据统计，球员资料，教练员资料等专业数据。尤其是历史数据，中国足球网将力争成为中国足球编年史的记录者。</p>
            <p>培训测试：”中国足球网”拥有球员、裁判员、教练员的注册、选派、培训、考核等功能，将成为中国足协的有力补充，为专业人士提供更方便快捷的途径。中国足球网还将加入教学培训、规则测试两大特色模块，通过文字及视频的深刻演绎传递正确的足球知识与规则。</p>
        </div>
    </div>
</div>