 <!--<script type="text/javascript" src="../../public/public.js"></script>-->

<div class="text_box">
  <div class="text_con"><p>
    俱乐部:2001年，高洪波加盟甲B联赛球队上海中远队，任助理教练，辅佐徐根宝率队升入甲A联赛。
  </p>
    <p>
      2004年，高洪波接手厦门蓝狮队。经过两年整顿，2006年，高洪波率队获得了中甲联赛冠军，成功升入中超联赛。同年高洪波还率队进入足协杯四强。2006到2007 赛季，高洪波率领升班马厦门队征战中超，获得第8名。
    </p>
    <p>
      2007年，高洪波执教长春亚泰队，夺取了当年中超联赛冠军，成为中国顶级职业联赛史上最年轻的冠军主帅。
    </p>
    <p>
      2008年，高洪波大量引进内外援轮换。在同年亚冠小组赛中，面对2007年澳洲，韩国联赛冠军球队阿德莱德联队和浦项制铁队，高洪波率队打出了不败战绩，以净胜球劣势遗憾出局后，亚泰将帅矛盾爆发，整个教练组遭逼宫而集体下课。
    </p>
    <p>
      2011年赛季末，高洪波接手陕西人和队。2012年球队搬迁贵州后，率队获得联赛第4名及足协杯亚军，并率领球队历史上首次进军亚冠联赛。高洪波凭借该年的表现成为2012年中超最佳教练3位提名人之一。同年12月17日，高洪波辞去主教练一职。
    </p>
    <p>
      2013年2月27日，上海东亚队召开新闻发布会，宣布高洪波正式成为球队主帅。在上海东亚的首个赛季，高洪波率队获得10胜7平13负的成绩，位列积分榜第9位。
    </p>
    <p>
      2013年11月8日，高洪波接替德拉甘出任江苏舜天队新任主教练。2015年6月29日，高洪波辞去总教练职务。
    </p>
    <p>
      将于2015年9月25日赴荷兰甲级俱乐部海牙队担任为期一年的助教。
    </p>
    <p>
      国家队：2000年，高洪波被任命为中国国少队主教练，率队征战亚少赛。小组赛阶段淘汰韩国队，从死亡之组出线。最终获得第5名。
    </p>
    <p>
      2003年初，竞聘成为中国国家男子足球队助理教练。
    </p>
    <p>
      2009年5月，高洪波通过公开竞聘，成为中国国家队第25任主教练，这也是自中国足球重返国际舞台后，即“改革开放”30年以来最年轻的国家队主帅。
    </p>
    <p>
      2010年2月，高洪波率队征战东亚四强赛。先后逼平除本田圭佑和长谷部城外主力尽出的东道主日本队，3-0大胜韩国队，终结国足长达32年的“恐韩症”，并获得该届杯赛冠军。
    </p>
    <p>
      2010年6月，高洪波率队赴非洲法属留尼旺岛，在热身赛中客场1比0爆冷战胜大牌球星云集的法国国家队。这是中国国家队史上第二次战胜世界冠军球队。同年，高洪波还率队逼平巴拉圭国家队，3比0战胜勒沃库森队等。
    </p>
    <p>
      2011年亚洲杯，高洪波率队2比0战胜新科海湾杯冠军科威特国家队，次战0比2不敌东道主卡塔尔国家队。最后一轮2比2战平乌兹别克国家队（国足首个失球是个事先越位球），以当时成绩最好的小组第三名，未能进军8强。2011年8月，在中国队备战2014年巴西世界杯亚洲区预赛小组赛前的时候，高洪波被足协免职，改由卡马乔接替国足帅位。

    </p>
    <p>
      高洪波执教国足期间，取得23胜11平4负的战绩，胜率近6成，不败率超过9成。国际排名则由108位上升到69位。
    </p>
    <p>
      2016年1月9日，正式报名参加国足主帅的竞聘。
    </p>
    <p>
      2016年2月3日，中国足协确认，高洪波将正式出任中国国家男子足球队主教练。
    </p>
    <p>
      执教海外：2015年9月，前中国男足主帅高洪波将远赴荷甲海牙俱乐部任教。
    </p>
    <p>
      中国国家队前主帅高洪波2015年9月27日抵达荷兰海牙俱乐部，为了“求学”，他连中秋节都未与家人一起欢聚。
    </p>
    <p>
      9月27日凌晨，高洪波由北京飞往荷兰，于当天抵达海牙俱乐部，他将在这里“求学”一年。在北京合力万盛国际体育发展有限公司的助力下，高洪波与荷甲海牙俱乐部签约一年，他将到该队担任助理教练，合同期为一年。
    </p>
    <p>
      高洪波在2015赛季因执教成绩不佳，与江苏舜天分道扬镳。高洪波一直计划到欧洲高水平俱乐部再进修，但之前谈的俱乐部时间过于短暂，无法满足高洪波希望深入接触欧洲联赛的要求。荷甲海牙俱乐部的大股东是中国的合力万盛公司，2015年年初合力万盛斥资800万欧元收购了海牙98%的股份，此举还促成了高洪波的海外执教之旅。
    </p>
    <p>
      临行前，高洪波表达了对荷兰之行的期待，“荷兰足球的技战术风格我一直很喜欢，荷兰的青训也是全世界知名的。这一次，除了学习技战术，我也希望能够深入地了解一支球队整个赛季的运行，包括季前准备、赛季中调整以及球队的管理运营”。
    </p>
    <p>
      足协执委：2015年12月，中国足协第十届会员大会第二次会议上，前国家队主帅高洪波被提名增补进入中国足协执委。
    </p>
    <p>
      国足主帅：高洪波担任国足主帅后，足协给高洪波定下的未来一个阶段的任务便是，在3月份剩余的两场世预赛40强赛中取得两战全胜的成绩。
    </p></div>
</div>

