img{border:none;}
a{cursor:pointer;}
a, a:hover, a:link, a:visited{text-decoration:none;}
*{font-family:"微软雅黑",Arial;}
.clearboth{clear:both;}
ul, li{padding:0;margin:0;list-style:none;}
body{padding:0;margin:0;}
.left{float:left;}
.right{float:right;}
/*.per100{width:100%;background-color:#f2f2f2;}*/
/*.per100_bg{width:100%;background-color:#ffffff;background:url("../images/pre100_bg.jpg") 0 0 repeat-x;padding-top:30px;}*/
/*.go_top{width:54px;height:84px;position:fixed;right:20px;bottom:80px;background:url("/app/images/ball_fire0.png");display:none;cursor:pointer;}*/
/*.go_top:hover{background-position:0 0;}*/
/*.footer{width:100%;height:30px;line-height:30px;background:url("../images/CF_topbar.jpg") 0 0 repeat-x;}*/
/*.foot_con{width:990px;margin:0 auto;overflow:hidden;text-align:center;font-size:12px;color:#ffffff;}*/
/*.foot_con span{color:#999999;display:inline-block;padding:0 10px;}*/
/*.map_box{width:100%;height:auto;background-color:#f2f2f2;}*/
/*.web_map{width:990px;margin:0 auto;padding:20px 0;overflow:hidden;}*/
/*.web_map ul{float:left;margin-right:20px;}*/
/*.web_map ul li{padding:5px 0;border-top:1px #e2e2e2 solid;color:#d9d9d9;}*/
/*.web_map ul li.map_title{}*/
/*.web_map ul li.map_list{list-style:circle inside;text-indent:18px;}*/
/*.web_map ul a{color:#a9a9a9;}*/
/*.web_map ul a:hover{color:#db3632;}*/
/*.web_map ul.wt1{width:150px;}*/
/*.web_map ul.wt2{width:300px;}*/

/* index.html */
/*.header_bg{height:50px;background:url("../images/CF_topbar.jpg") 0 0 repeat-x;}*/
/*.header_con{width:990px;height:50px;margin:0 auto;overflow:hidden;position:relative;}*/
/*.logo_image{width:160px;height:50px;background:url("../images/CF_logo.png") 0 0 no-repeat;float:left;}*/
/*.logo_beta{width:45px;height:15px;background:url("../images/logo_beta.png") 0 0 no-repeat;position:absolute;left:149px;top:8px;}*/
.slogin{font-size:14px;color:#ffff00;display:block;float:left;padding-top:23px;}
.text_link1, .text_link1:link{font-size:14px;color:#ffffff;display:block;float:right;padding-top:23px;}
.text_link1:hover, .text_link1:visited{color:#ffff00;}
.loading_gif{width:100%;padding:100px 0;margin:50px 0;text-align:center;}

/*.bg_navi{background-color:#ffffff;border-bottom:1px #d9d9d9 solid;}*/
/*.navi_list{width:990px;height:40px;text-align:center;margin:0 auto;}*/
/*.navi_list a{color:#999999;border-bottom:2px #ffffff solid;width:auto;padding:0 22px;height:40px;line-height:36px;font-size:14px;font-family:"Yuanti TC";display:inline-block;}*/
/*.navi_list a.router-link-active{color: #e94e3c; cursor:default;}*/
/*.navi_list span{color:#999999;border-bottom:2px #ffffff solid;width:20px;height:40px;line-height:36px;font-size:14px;display:inline-block;cursor:default;}*/
.slideshow, .slide, .carousel-inner, .item{width:100%;max-width:1920px;max-height:960px;min-width:990px;min-height:495px;}
.slideshow{margin:0 auto;position:relative;}
.slide{margin:0 auto;overflow:hidden;}
.item{height:auto;overflow:hidden;}
.item img{width:100%;height:auto;}
.slideshow_bt_l, .slideshow_bt_r{position:absolute;display:block;width:60px;height:100%;}
.slideshow_bt_l{left:0;background:url("../images/bt_left.png") 25px 48% no-repeat;}
.slideshow_bt_r{right:0;background:url("../images/bt_right.png") 0 48% no-repeat;}
.slideshow_title{position:absolute;display:block;left:15%;bottom:10%;width:660px;height:auto;padding:30px 40px 40px;font-size:32px;line-height:48px;background:url("../images/title_bg.png") 0 0 repeat-y;color:#ffffff;}
.slideshow_title:hover{color:#ffffff;}
.slideshow_title span{font-size:18px;color:#cccccc;}
.point_list{position:absolute;width:100%;height:20px;bottom:15px;text-align:center;}
.point_list a{display:inline-block;width:6px;height:6px;border:2px #ffffff solid;border-radius:10px;margin:0 3px;}
.point_list .point_this{border:2px #ffffff solid;background-color:#ffffff;}

.con_width990{width:990px;height:auto;margin:0 auto;padding:5px 15px 0;background-color:#ffffff;}
.part_title{width:100%;height:41px;margin:20px 0 20px;overflow:hidden;}
.part_title div{float:left;}
.part_title .bar_left{width:40px;height:41px;background:url("../images/title_ball.jpg") 0 0 no-repeat;}
.part_title .bar_border{width:920px;height:41px;line-height:41px;border-bottom:1px #d9d9d9 solid;}
.part_title .bar_middle{width:auto;height:40px;font-size:16px;background-color:#f2f2f2;color:#333333;padding:0 10px;}
.part_title .bar_right{width:88px;height:40px;background:url("../images/title_end.jpg") 0 0 no-repeat;}
.part_title .bar_other{width:auto;border:1px #f2f2f2 solid;background-color:#f2f2f2;border-radius:30px;padding:0 10px;margin-top:3px;height:30px;line-height:28px;}
.part_title .bar_other a{display:inline-block;width:auto;color:#333333;font-size:14px;margin:0 15px;}
.part_title .bar_other a:hover{color:#db3632;}
.part_title .bar_other .text_here, .part_title .bar_other .text_here:hover{color:#db3632;cursor:default;}
.part_title .bar_other .text_empty, .part_title .bar_other .text_empty:hover{color:#cccccc;cursor:default;}
.part_box{width:100%;margin-top:20px;overflow:hidden;margin-bottom:30px;}
.subtitle{width:100%;height:20px;background:url("../images/point.png") 0 12px repeat-x transparent;text-align:center;margin:0 0 20px;}
.subtitle span{display:inline-block;width:auto;height:20px;line-height:20px;font-size:14px;padding:0 10px;background-color:#ffffff;}
.member_list{width:100%;overflow:hidden;margin-bottom:20px;}
.empty_box{width:100%;height:50px;line-height:50px;font-size:16px;color:#999999;text-align:center;}
.part_box p{font-size:14px;line-height:180%;color:#666666;}
.timeline_bg{height:480px;background:url("../images/CF_timebg.jpg") 0 0 no-repeat;position:relative;}
.bg_filter{height:480px;background:url("../images/bg_filter.png") 0 0 no-repeat;padding-top:60px;}
.timing{width:100%;height:360px;background:url("../images/timing.jpg") 0 0 no-repeat;position:absolute;top:0;left:0;font-size:20px;padding-top:80px;color:#ffffff;overflow:hidden;}
.timing div{padding-bottom:20px;margin-left:50px;}
.timing div span, .timing div b{display:inline-block;height:40px;padding:0 5px;}
.timing div span{font-size:70px;}
.timing div .vs_span{font-size:40px;}
.timing div b{font-size:20px;}
.timing div{padding-bottom:20px;margin-left:50px;}
.part_title .timing_2{width:auto;height:40px;line-height:40px;padding:0 20px;background:url("../images/timing.jpg") 0 0 no-repeat;color:#ffffff;float:right;cursor:pointer;}
.part_title .timing_2 b{font-size:20px;padding:0 3px;}
.member_box{display:block;width:180px;height:350px;float:left;position:relative;margin:0 12px 12px 0;}
.header_box{display:block;width:100%;height:240px;overflow:hidden;margin-bottom:5px;}
.header_box img{width:180px;}
.news_box{display:block;width:310px;height:233px;overflow:hidden;float:left;position:relative;margin:0 10px 10px 0;}
.news_box img{width:310px;height:233px;}
.news_box .text_bg{position:absolute;bottom:0;color:#ffffff;display:block;padding:10px 15px;width:310px;height:64px;line-height:140%;overflow:hidden;background-color:#000000;font-size:15px;opacity:0.8;filter:alpha(opacity=80);}
.news_box:hover span{color:#ffffff;}
.name_bg{display:block;width:100%;height:auto;line-height:180%;text-align:left;font-size:14px;color:#999999;}
.name_bg:hover{color:#db3632;}
.like_box{width:45px;height:32px;position:absolute;top:5px;right:5px;overflow:hidden;}
.span_like{display:block;width:24px;height:32px;background:url("../images/fire_24.png") 0 0 no-repeat;cursor:pointer;opacity:0.8;margin-left:20px;}
.span_like:hover{cursor:pointer;opacity:1;background-position:-24px 0;}
.span_like32{display:block;width:32px;height:48px;background:url("../images/fire_32.png") 0 5px no-repeat;cursor:pointer;opacity:0.8;margin:0 auto;}
.span_like32:hover{cursor:pointer;opacity:1;background-position:-32px 5px;}
.span_unlike32{display:block;width:32px;height:48px;background:url("../images/fire_32.png") -32px 5px no-repeat;cursor:pointer;opacity:1;margin:0 auto;}
.like_num{display:block;width:100%;height:20px;line-height:20px;border-radius:6px;text-align:center;font-size:12px;background-color:#db3632;color:#ffffff;}
.bt_play{display:block;width:64px;height:64px;position:absolute;top:50%;left:50%;margin:-32px 0 0 -32px;background:url("../images/bt_play.png") 0 0 no-repeat;}
.more_news{text-align:center;line-height:160%;padding:20px 0 30px;border-top:1px #d9d9d9 solid;}
.more_news a{color:#db3632;}

.part_big{width:600px;height:180px;margin:0 auto;overflow:hidden;}
.part_big ul{width:200px;height:180px;float:left;}
.flag_box img{width:200px;}
.name_box{font-size:20px;color:#ffffff;line-height:30px;}
.name_box{text-align:center;}
.vs{width:200px;height:180px;float:left;background:url("../images/vs.png") 0 0 no-repeat;position:relative;}
.vs b{width:100%;height:40px;line-height:40px;font-size:40px;text-align:center;color:#ffffff;position:absolute;bottom:10px;}
.detail{text-align:center;height:110px;line-height:30px;color:#ffffff;}
.detail span{font-size:24px;}
.detail b{font-size:18px;}
.detail a{display:inline-block;margin-top:10px;padding:6px 6px 0;text-indent:30px;background:url("../images/live_play.png") 0 0 no-repeat;height:30px;line-height:30px;font-size:18px;color:#ffffff;}
.time_list{width:100%;height:60px;background:url("../images/timeline_line.png") 0 29px no-repeat;margin-top:40px;padding-top:5px;}
.margin{margin-top: 0;}
.time_list li{width:60px;height:56px;overflow:hidden;float:left;margin:0 5px;}
.time_list .year{margin-left:35px;cursor:default;}
.time_list .month{cursor:pointer;border:1px #000000 dashed; border-color:transparent;}
.time_list .month:hover{cursor:pointer;border:1px #d9d9d9 dashed;}
.time_list li span{display:block;color:#ffffff;font-size:14px;text-align:center;width:100%;height:20px;line-height:20px;}
.time_list li .point_b{height:10px;margin-top:3px;}
.time_list li span img{height:15px;margin:0 1px;}
.time_list li span b{display:block;width:4px;height:4px;border-radius:4px;margin:0 auto;background-color:#ffffff;}

/* resume.html */
.page_title{width:100%;height:auto;padding:20px 0;background:url("../images/point.png") 0 40px repeat-x;}
.page_title span{display:block;width:120px;height:40px;line-height:40px;margin:0 auto;font-size:20px;text-align:center;background-color:#ffffff;}
.member_header{width:300px;height:400px;float:left;}  .member_header img{width:300px;height:400px;}
.info_list{width:638px;height:306px;float:left;margin-left:20px;border:1px #d9d9d9 solid;}
.info_list li{border-bottom:1px #d9d9d9 solid;overflow:hidden;background-color:#f2f2f2;}
.info_list li span{display:block;float:left;height:60px;line-height:60px;}
.info_list li .list1{background-color:#bababa;width:188px;padding-right:15px;text-align:right;color:#ffffff;}
.info_list li .list2{background-color:#f2f2f2;width:420px;padding-left:15px;text-align:left;color:#000000;}
.member_like{width:600px;height:93px;float:left;padding:0 20px 0;}
.member_like span{font-size:40px;display:inline-block;height:48px;line-height:48px;}
.member_like .span_mark{font-size:16px;display:inline-block;color:#333333;width:auto;height:48px;line-height:48px;padding:0 30px 0;margin-left:20px;text-align:center;}
.member_like .span_mark:hover{color:#db3632;}
.member_like .span_mark span{display:inline-block;height:48px;margin-right:10px;position:relative;top:0;right:0;}
.form_list{border:1px #d9d9d9 solid;}
.form_header{background-color:#f2f2f2;}
.fby{border-top:1px #d9d9d9 dashed;}
.form_list li{padding:10px 0;}
.form_list span{display:inline-block;font-size:12px;text-align:center;height:15px;border-right:1px #d9d9d9 dashed;}
.w1{width:10%;}
.w2{width:18%;}
.w3{width:10%;}
.w4{width:10%;}
.w5{width:6%;}
.w6{width:6%;}
.w7{width:6%;}
.w8{width:5%;}
.w9{width:6%;}
.w10{width:6%;}
.w11{width:6%;}
.w12{width:6%;}
.form_header .w12, .form_boby .w12{border-right:none;}
.card_red, .card_yellow{width:13px;height:18px;margin:0 auto;border-radius:3px;}
.card_red{background-color:red;border:1px red solid;}
.card_yellow{background-color:yellow;border:1px #f0f012 solid;}

/* men.html */
.news_header{width:660px;height:400px;float:left;position:relative;overflow:hidden;}
.news_header img{width:660px;}
.title_bg{display:block;width:660px;padding:20px;height:auto;position:absolute;bottom:30px;background:url("../images/title_bg.png") 0 0 repeat-y;color:#ffffff;font-size:24px;}
.title_bg:hover{color:#ffffff;}
.news_list{width:280px;height:400px;float:left;margin-left:20px;}
.news_list li{width:100%;height:67px;border-bottom:1px #d9d9d9 solid;overflow:hidden;}
.news_list li a{display:block;width:280px;height:67px;padding:0 10px;line-height:150%;font-size:15px;overflow:hidden;background-color:#ffffff;color:#333333;}
.news_list li a:hover{background-color:#db3632;color:#ffffff;text-underline:none;}
.news_list li .this_point, .news_list li .this_point:hover{background-color:#db3632;color:#ffffff;}

.video_box{width:100%;overflow:hidden;}
.video_box .video_play{display:inline-block;width:202px;height:114px;overflow:hidden;margin:15px;position:relative;background-color:#999999;border:1px #ffffff solid;box-shadow:5px 5px 15px #000000;text-indent:0;}
.contentbox p .video_play img{width:200px;}
.contentbox p .video_play span{display:block;width:64px;height:64px;position:absolute;top:50%;left:50%;margin:-32px 0 0 -32px;background:url("../images/bt_play.png") 0 0 no-repeat;}

/* train.html */
.per100_bg2{width:100%;background:url("../images/pre100_bg2.jpg") 0 0 repeat-x;padding-top:20px;padding-bottom:20px;background-color:#05234d;}
.per100_bg2 .con_width990{width:990px;height:auto;margin:0 auto;padding:0;background:transparent;}

.cd_box{display:block;width:450px;height:220px;overflow:hidden;float:left;position:relative;margin:10px 15px 15px;border:1px #ffffff solid;box-shadow:5px 5px 20px #000000;border-radius:15px;}
.cd_box:hover{border:1px #ffff00 solid;}
.cd_box img{width:450px;}
.cd_box .text_bg, .cd_box2 .text_bg{position:absolute;bottom:20px;color:#ffffff;line-height:20px;padding:15px;background:url("../images/title_bg2.png") 0 0 repeat-y;}
.cd_box .text_bg{width:450px;height:auto;text-align:left;font-size:20px;}
.cd_box:hover .text_bg{color:#ffff00;}

.cd_box2{display:block;width:300px;height:600px;overflow:hidden;float:left;position:relative;margin:15px 10px;border:1px #ffffff solid;box-shadow:5px 5px 20px #000000;border-radius:15px;}
.cd_box2:hover{border:1px #ffff00 solid;}
.cd_box2 img{border-radius:15px;}
.cd_box2 .text_bg{width:300px;height:auto;text-align:center;font-size:18px;background-position:-160px 0;}
.cd_box2:hover .text_bg{color:#ffff00;}

/* video list */
.per100_bg2 .part_title{border-bottom:1px solid #f2f2f2;height:45px;padding-top:5px;}
.per100_bg2 .part_title a{float:left;display:block;width:auto;padding:0 15px;margin:0 15px 0 0;height:30px;line-height:30px;text-align:center;color:#d9d9d9;background-color:#05234d;}
.per100_bg2 .part_title a:hover{color:#ffffff;}
.per100_bg2 .part_title .text_here, .per100_bg2 .part_title .text_here:hover{color:#db3632;background-color:#f2f2f2;cursor:default;height:40px;line-height:40px;box-shadow:2px -2px 10px #05234d;}
.videobox{display:block;width:180px;height:140px;float:left;margin:10px 10px 10px 5px;overflow:hidden;border:1px transparent solid;}
.videobox:hover{border:1px #ffffff solid;}
.video_img{display:block;width:100%;height:100px;position:relative;overflow:hidden;border:1px #ffffff solid;box-shadow:5px 5px 15px #000000;}
.video_img img{width:100%;}
.video_img span{left:50%;top:50%;margin:-32px 0 0 -32px;}
.videobox .video_num{display:block;width:100%;height:40px;line-height:40px;text-align:center;color:#ffffff;font-size:14px;}

.video_more{width:100%;height:40px;line-height:40px;text-align:center;padding-bottom:30px;}
.video_more a{color:#ffffff;font-size:13px;}
.video_more a:hover{color:#ffff00;}
.part_box2{width:100%;margin-top:20px;overflow:hidden;padding-bottom:30px;background-color:#d9d9d9;margin-top:0;margin-bottom:20px;overflow:hidden;}
.contentbox{float:left;width:700px;height:auto;min-height:600px;padding:20px;margin:20px 0 0 20px;background-color:#ffffff;box-shadow:5px 5px 15px #000000;}
.part_box2 ul{float:right;width:250px;padding:20px;}
.part_box2 ul li.menu{padding-bottom:10px;font-size:16px;text-align:center;color:#999999;}
.part_box2 ul li a{display:block;width:210px;line-height:20px;padding:5px 10px;font-size:14px;text-align:left;border-top:1px #999999 solid;color:#333333;}
.part_box2 ul li a:hover{border-top:1px #db3632 solid;color:#ffffff;background-color:#db3632;text-underline:none;}
.part_box2 ul li .mark_here{border-top:1px #db3632 solid;color:#ffffff;background-color:#db3632;cursor:default;}
.contentbox div{padding-bottom:40px;}
.contentbox b{display:block;padding-bottom:10px;margin-bottom:10px;font-size:18px;border-bottom:1px #d9d9d9 solid;}
.contentbox p b{display:inline-block;padding:0;margin:0;font-size:16px;border-bottom:none;text-indent:0;}
.contentbox p{font-size:16px;line-height:180%;text-indent:30px;overflow:hidden;}
.contentbox p .video_play{display:block;width:182px;height:102px;overflow:hidden;float:left;margin:15px;position:relative;background-color:#999999;border:1px #ffffff solid;box-shadow:5px 5px 15px #000000;text-indent:0;}
.contentbox p .video_play img{width:180px;}
.contentbox p .video_play span{display:block;width:64px;height:64px;position:absolute;top:50%;left:50%;margin:-32px 0 0 -32px;background:url("../images/bt_play.png") 0 0 no-repeat;}
.contentbox .p_video{text-indent:0;padding-bottom:15px;}
.contentbox .p_img{text-indent:0;text-align:center;}
.contentbox .p_img img{background-color:#3573ff;max-width:660px;}
.black_bg{width:100%;height:640px;background-color:#000000;position:fixed;_position:absolute;left:0;top:50%;margin-top:-320px;z-index:999;}
.black_bg .video_show{width:1067px;height:600px;color:#ffffff;text-align:center;overflow:hidden;margin:20px auto;}
.black_bg .video_show video{width:100%;background:url("../images/loading_b.gif") 52% 52% no-repeat;background-color:#000000;}
.list_bg{background-color:#d9d9d9;}

/* textcon */
.text_box{padding:10px 30px;margin:0 auto;}
.text_title{width:100%;height:auto;padding:10px 0;margin:10px auto;font-size:22px;color:#333333;line-height:160%;}
.text_title span{display:block;padding-top:5px;font-size:14px;color:#999999;}
.text_con{width:100%;height:auto;padding:20px 0;margin:0 auto 20px;color:#666666;border-top:1px #d9d9d9 solid;border-bottom:1px #d9d9d9 solid;}
.text_con p{font-size:18px;line-height:170%;text-indent:36px;overflow:hidden;}
.text_con .p_img, .text_con .p_video{text-indent:0;text-align:center;}
.text_con .p_img img{width:100%;}
.text_control{width:100%;height:auto;padding-bottom:30px;}
.text_control i{display:block;font-size:14px;color:#999999;}
.text_control span{display:block;width:100%;text-align:center;}
.text_control span a{display:inline-block;margin:0 30px;}
.text_control span a b{display:inline-block;width:50px;height:64px;overflow:hidden;}
.text_control span a span{display:inline-block;height:30px;line-height:30px;background-color:#f2f2f2;color:#999999;}
.text_control span a:hover span{background-color:#d9d9d9;color:#666666;}
.text_control span .text_like b{background:url("../images/text_like.png") 0 0 no-repeat;}
.text_control span .text_unlike b{background:url("../images/text_like.png") -50px 0 no-repeat;}
.third_share{width:52px;height:auto;position:fixed;right:5px;top:255px;text-align:center;padding:10px 0 5px;background-color:#ffffff;border-radius:10px;}
.third_share a{display:inline-block;width:32px;height:32px;margin:3px 0;overflow:hidden;background:url("../images/third_share.png") 0 0 no-repeat;}
.third_share .share_sina{background-position:0 0;}
.third_share .share_qzone{background-position:0 -32px;}
.third_share .share_weixin{background-position:0 -64px;}
.third_share .share_f{background-position:0 -96px;}
.third_share .share_t{background-position:0 -128px;}
.lable_weixin{width:600px;height:auto;padding:20px;border:2px #999999 solid;border-radius:20px;position:absolute;right:60px;top:50%;margin-top:-150px;background-color:#ffffff;}

/* event */
.form_list2{border:1px #d9d9d9 solid;}
.form_list2 li{overflow:hidden;}
.form_list2 .form_header, .form_list2 .w3, .form_list2 .w4, .form_list2 .w7{background-color:#f2f2f2;}
.form_list2 .form_boby, .form_list2 .form_space{border-top:1px #d9d9d9 solid;}
.form_list2 .form_space{height:8px;position:relative;overflow:visible;}
.form_list2 .form_header{border-top:1px #d9d9d9 solid;background-color:#f2f2f2;}
.form_list2 .form_space .wx{position:absolute;top:8px;left:0;width:85px;height:120px;background-color:#ffffff;z-index:99;text-align:center;line-height:120px;}
.form_list2 span{display:block;float:left;padding:5px 0;font-size:14px;text-align:center;line-height:30px;border-right:1px #d9d9d9 solid;}
.form_list2 .w1{width:9%;}
.form_list2 .w2{width:18%;}
.form_list2 .w3, .form_list2 .w5{width:10%;}
.form_list2 .w4, .form_list2 .w6{width:25%;}
.form_list2 .w7, .form_list2 .w8{width:35%;padding-left:1px;}
.form_header .w6, .form_boby .w6, .form_header1 .w8{border-right:none;}
.form_header1 .w1{border-right:none;}
.rule p{padding-right:120px;padding-left:35px;overflow:hidden;text-indent:0;}
.rule p b{display:block;float:left;height:60px;margin-right:20px;}
.flag_list{width:100%;height:auto;overflow:hidden;margin-bottom:20px;}
.flag_list li{float:left;margin-right:30px;}
.flag_list .group{width:90px;line-height:70px;text-align:center;font-size:24px;}
.flag_list li span{display:block;width:100px;height:70px;overflow:hidden;box-shadow:2px 2px 10px #000000;} .flag_list li span img{width:100px;}
.flag_list li b{display:block;width:100px;height:40px;line-height:40px;text-align:center;font-size:12px;}
.cn{color:#db3632;}

.sform_list li{width:100%;overflow:hidden;}
.sform_list .form_header{border-top:1px #d9d9d9 solid;border-bottom:1px #d9d9d9 solid;background-color:#e9e9e9;}
.sform_list .form_body{border-bottom:1px #d9d9d9 solid;background-color:#f9f9f9;}
.sform_list li span{display:block;float:left;text-align:center;height:50px;line-height:50px;}
.sform_list li .s1{width:80px;}
.sform_list li .s2{width:240px;text-align:left;}
.sform_list li .s2 b{display:inline-block;height:30px;overflow:hidden;margin-top:10px;}
.sform_list li .s2 .sflag{width:40px;line-height:0;}
.sform_list li .s2 .sname{line-height:30px;text-indent:10px;}
.sform_list li .s2 b img{height:30px;}


.match_info{width:860px;height:auto;margin:50px auto 0;border:1px #d9d9d9 solid;border-top:none;font-size:14px;opacity:0.7;background-color:#000000;color:#ffffff;overflow:hidden;}
.match_info li{overflow:hidden;border-top:1px #d9d9d9 solid;}
.match_info .info_title span{width:100%;text-align:center;font-size:24px;}
.match_info .info_title span b{font-weight:normal;font-size:14px;color:#d9d9d9;}
.match_info li span{display:block;float:left;width:210px;padding:15px 10px;}
.border_r{border-right:1px #d9d9d9 solid;}
.match_info li div{float:left;}
.match_info li .part_1{width:33.3%;float:left;}
.match_info li .part_1 span{display: inline-block;}
.match_info li .part_2{width:33.3%;float:left;}
.match_info li div .sp1{width:74px;text-align:right;font-size:12px;}
.match_info li .part_1 .sp2{width:;text-align:left;}
.match_info li .part_2 .sp2{width:;text-align:left;margin-top:-2px;}
.team_info{width:465px;border:1px #d9d9d9 solid;}
.team_info li{overflow:hidden;border-top:1px #d9d9d9 solid;}
.team_info li span{display:block;float:left;padding:10px;font-size:14px;line-height:160%;overflow:hidden;}
.team_info li .spa1{width:120px;text-align:right;}
.team_info li .spa2{width:320px;text-align:left;}
.team_info li .spa3{width:15%;text-align:center;}
.team_info li .spa4{width:40%;text-align:center;}
.team_info li .spa5{width:40%;text-align:center;}
.team_info li span img{height:50px;}
.team_info li .spa6{width:60px;text-align:center;}
.team_info li .spanimg{width:40px;height:40px;padding:0;}
.team_info li .spanimg img{width:40px;height:40px;}
.team_info .team_title{background-color:#f2f2f2;border-top:none;height:60px;text-align:center;}
.team_info li.team_title span{display:inline-block;height:50px;padding:0;margin:5px;}
.team_info li.team_title b{display:inline-block;height:50px;line-height:50px;float:left;margin-top:5px;}
.team_info .space_bar{height:25px;line-height:25px;text-align:center;background-color:#f2f2f2;font-size:13px;color:#999999;}
.leftpart{float:left;text-align:right;}
.rightpart{float:right;}

.video_width{width:1067px;height:auto;margin:20px auto;}
.part_link{width:100%;margin:10px 0;}
.part_link a, .part_link span{display:inline-block;color:#d9d9d9;}
.part_link a{color:#ffffff;}
.video_show{width:100%;height:600px;position:relative;color:#ffffff;text-align:center;overflow:hidden;background-color:#000000;}
.video_show video{width:1067px;height:600px;background:url("../images/loading_b.gif") 52% 52% no-repeat;background-color:#000000;}
.box_1{width:100%;height:600px;position:absolute;left:0;top:0;}
.box_2{width:100%;height:600px;position:absolute;left:0;top:0;background-color:#000000;opacity:0.85;}
.con_text{width:900px;height:500px;margin:50px auto 0;padding:20px 30px;font-size:20px;overflow-y:scroll;text-align:left;background-color:#000000;border:1px #ffffff solid;color:#ffffff;}
.bt_close{display:block;width:40px;height:40px;position:absolute;top:10px;right:10px;background:url("../images/close.png") 0 0 no-repeat;}
.bt_close:hover{background-position:-40px 0;}
.box_answertitle{margin:30px 0 30px;width:100%;height:60px;line-height:60px;font-size:20px;}
.box_answerview{width:100%;height:400px;background-color:#000000;color:#ffffff;overflow:hidden;border-top:1px #999999 solid;border-bottom:1px #999999 solid;}
.box_answerview ul li{padding:15px 0;}
.box_answerview ul li span{display:inline-block;font-size:28px;line-height:60px;padding:0 20px;}
.mark_no, .mark_yes{width:60px;height:60px;background:url("../images/gouxuan.png") 0 0 no-repeat;}
.mark_no{background-position:0 0;}
.mark_yes{background-position:-60px 0;}
.left_list, .right_list{width:480px;}
.left_list{border-left:none;float:left;text-align:right;margin-top:20px;}
.right_list{border-right:none;float:right;text-align:left;margin-top:60px;}
.one_list{width:300px;margin:0 auto;text-align:left;padding-top:110px;}
.bt_list{overflow:hidden;height:60px;margin-top:20px;}
.bt_control{width:100%;height:60px;text-align:center;}
.bt_control .c_here{background-color:transparent;color:#db3632;}
.bt_control .c_here:hover{background-color:transparent;color:#db3632;cursor:default;}
.bt_control span{display:inline-block;color:#999999;font-size:14px;margin:0 10px;}
.bt_control a{display:inline-block;border:1px transparent solid;color:#aaaaaa;font-size:16px;padding:10px 13px;position:relative;}
.bt_control a:hover{color:#ffffff;}
.bt_control a span{width:32px;height:32px;overflow:hidden;background:url("../images/video_bt.png") 0 0 no-repeat;position:absolute;cursor:pointer;}
.bt_control a.replay span{background-position:0 0;top:0;left:-30px;}
.bt_control a.next span{background-position:0 -32px;top:0;left:30px;}
.bt_control a.prev span{background-position:0 -64px;top:0;left:20px;}
.bt_control a.back_menu span{background-position:0 -96px;top:0;left:30px;}
.link_pre, .link_next{display:block;width:90px;height:60px;line-height:60px;text-align:center;}
.link_pre{float:left;}
.link_next{float:right;}

.box_2 .box_answer{width:100%;height:370px;background-color:#000000;color:#ffffff;overflow:hidden;border-top:1px #ffffff solid;border-bottom:1px #ffffff solid;}
.box_2 .box_answer ul li{padding:10px 0;}
.box_answer .left_list, .box_answer .right_list{width:360px;}
.box_answer .mid_list{width:280px;height:340px;float:left;border-left:1px #000000 solid;border-right:1px #000000 solid;margin:30px 0 0 40px;}
.box_answer .left_list{border-left:none;float:left;text-align:right;margin-top:35px;}
.box_answer .right_list{border-right:none;float:right;text-align:left;margin-top:80px;}
.box_answer a, .box_answer span{display:inline-block;font-size:32px;line-height:60px;}
.box_answer .mark_no:hover{background-position:-120px 0;}
.box_2 .box_bt{margin:30px 0;overflow:hidden;}
.box_2 .box_bt a{display:inline-block;border-left:1px #db3632 solid;background-color:#db3632;padding:15px 30px;margin:0 20px;color:#ffffff;border-radius:14px;font-size:16px;}
.box_2 .box_bt span{font-size:20px;}
.box_2 .box_bt .pre_title{display:block;float:left;width:200px;height:60px;line-height:60px;text-align:center;}
.box_2 .box_bt .pre_box{float:left;padding-left:130px;}
.box_answer .mid_list li{width:200px;margin:55px auto 0;border-radius:20px;}
.box_answer .mid_list .correct{color:#acffae;background-color:#2c8015;}
.box_answer .mid_list .error{color:#ffa9a9;background-color:#791416;}
.box_answer .mid_list span{font-size:32px;display:inline-block;height:60px;line-height:60px;}
.box_answer .num{font-size:36px;}
.box_answer .num_m{margin-right:10px;}
.box_answer .correct .num_m{width:60px;background:url("../images/gouxuan.png") -180px 0 no-repeat;}
.box_answer .error .num_m{width:60px;background:url("../images/gouxuan.png") -240px 0 no-repeat;}
.box_info{width:800px;height:390px;margin:0 auto;background-color:#000000;color:#ffffff;border-radius:15px;border:2px #ffffff solid;}
.box_info p{padding:40px;text-align:left;line-height:180%;text-indent:40px;font-size:20px;}

.download_list{width:880px;height:auto;clear:both;margin:50px auto 30px;padding:40px;background-color:#ffffff;box-shadow:5px 5px 15px #000000;}
.download_list .list_bar{padding:10px 0 0;margin:10px 0;overflow:hidden;border-top:1px #d9d9d9 solid;height:auto;line-height:32px;}
.list_bar span{float:left;margin:0 10px;color:#999999;font-size:14px;}
.list_bar a{margin:6px 10px 0;color:#999999;font-size:14px;}
.list_bar a:hover{color:#db3632;}
.link_down, .link_view, .link_play{display:block;float:right;width:20px;height:20px;background:url("../images/img_down.jpg") 0 0 no-repeat;}
.link_view{background-position:0 0;}
.link_play{background-position:0 -20px;}
.link_down{background-position:0 -40px;}
.play_audio{float:right;height:30px;overflow:hidden;}

.box_answer .result_left{width:300px;float:left;border-right:1px #000000 solid;}
.box_answer .result_right{width:500px;float:right;}
.box_answer .result_left li{width:200px;margin:55px auto 0;border-radius:20px;}
.box_answer .result_left .correct{color:#acffae;background-color:#2c8015;}
.box_answer .result_left .error{color:#ffa9a9;background-color:#791416;}
.box_answer .result_left span{font-size:32px;display:inline-block;height:60px;line-height:60px;}
.box_answer .result_left .num{font-size:36px;}
.box_answer .result_left .num_m{margin-right:10px;}
.box_answer .result_left .correct .num_m{width:60px;background:url("../images/gouxuan.png") -180px 0 no-repeat;}
.box_answer .result_left .error .num_m{width:60px;background:url("../images/gouxuan.png") -240px 0 no-repeat;}

.img_list{width:1040px;margin:50px auto 0;overflow:hidden;}
.img_list li{width:240px;height:auto;float:left;margin:10px;}
.img_list li a{display:block;margin:0 auto;}
.img_list li span{display:block;width:100%;height:180px;overflow:hidden;margin-bottom:10px;}

.referee_box{width:460px;height:253px;overflow:hidden;float:left;margin:0 9px 18px;background-color:#f2f2f2;border:1px #d9d9d9 solid;position:relative;}
.referee_box .user_header{display:block;width:190px;height:253px;overflow:hidden;float:left;}
.referee_box .user_header img{height:253px;}
.referee_box ul{width:268px;height:210px;float:left;margin-top:22px;}
.referee_box ul li{height:35px;line-height:35px;padding:0 20px;font-size:14px;}

.box_answer .result_s{width:650px;margin:80px auto 30px;overflow:hidden;}
.box_answer .result_s li{width:300px;border-radius:20px;}
.box_answer .result_s .correct{color:#acffae;background-color:#2c8015;float:left;}
.box_answer .result_s .error{color:#ffa9a9;background-color:#791416;float:right;}
.box_answer .result_s span{font-size:32px;display:inline-block;height:60px;line-height:60px;}
.box_answer .mid_list .num{font-size:36px;}
.box_answer .mid_list .num_m{margin-right:10px;}
.box_answer .result_t{width:650px;margin:0 auto;padding:30px 0;overflow:hidden;border-radius:15px;border:2px #555555 solid;}
.choose_list{width:360px;margin:100px auto 0;}
.choose_list li{overflow:hidden;padding-top:30px;}
.choose_list span, .choose_list a{float:left;margin-left:30px;}

.pre_correct, .pre_error{display:inline-block;width:160px;height:60px;border-radius:20px;margin:0 20px;}
.pre_correct{color:#acffae;background-color:#2c8015;}
.pre_error{color:#ffa9a9;background-color:#791416;}
.box_bt .pre_correct .num_m, .box_bt .pre_error .num_m{font-size:32px;display:inline-block;height:60px;line-height:60px;}
.box_bt .pre_correct .num_m{width:60px;background:url("../images/gouxuan.png") -180px 0 no-repeat;}
.box_bt .pre_error .num_m{width:60px;background:url("../images/gouxuan.png") -240px 0 no-repeat;}
.box_bt .pre_correct .num, .box_bt .pre_error .num{font-size:36px;}

.last{
	opacity: 0.3;
	filter:alpha(opacity=30);
   -moz-opacity:0.3;
   -khtml-opacity:0.3;
}
#last_span{
	cursor: default;
}

.part_box .d_box{width:50%;float:left;padding-top:30px;}
.part_box .d_box ul{width:320px;margin:0 auto;}
.part_box .d_box ul li{text-align:center;margin:30px 0;}
.part_box .d_box ul li span{display:inline-block;height:32px;line-height:32px;}
.part_box .d_box ul li span.d_icon{width:32px;background:url("../images/d_icon.jpg") 0 0 no-repeat;}
.part_box .d_box ul li span.d_ios{background-position:0 0;}
.part_box .d_box ul li span.d_andr{background-position:0 -32px;}
.part_box .d_box ul .code_img{width:320px;height:320px;}
.part_box .d_box ul .code_bt a{display:inline-block;width:120px;height:32px;line-height:32px;border:1px #db3632 solid;color:#db3632;}
.d_tbox p{padding:5px 52px;font-size:16px;}

.download_app{width:100%;height:auto;background-color:#05234d;overflow:hidden;padding:15px 10px;position:fixed;bottom:0;opacity:0.9;color:#ffffff;}
.download_app a{display:block;float:right;color:#ffffff;margin-top:10px;width:120px;height:50px;line-height:50px;text-align:center;font-size:22px;background:url("http://s.files.c-f.com/www/images/share_btn.png") 0 0 no-repeat;}
.download_app span{display:block;float:right;margin-right:80px;margin-top:15px;width:32px;height:32px;background:url("http://s.files.c-f.com/www/images/share_btn.png") 0 0 no-repeat;}
.APP_logo{width:64px;height:64px;float:left;}
.logo_name{width:140px;height:64px;line-height:64px;font-size:24px;float:left;margin-left:10px;}
