<template [ngIf]="player">
  <div class="header_con">
    <a class="CF_logo" href="" title="中国足球网">
      <img class="CF_logo_pic" src="http://s.files.c-f.com/CF_logo.png" />
    </a>
    <span>中国足球网</span>
  </div>
  <div class="con_width">
    <!-- 教练简历 -->
    <div class="page_title"></div>
    <div class="part_box">
      <div class="user_box">
        <div class="member_header">
          <img alt="{{player.name}}" src="{{prefixImg}}{{player.avatar}}?imageView/1/w/300/h/400" />
        </div>
        <ul class="info_list" id="coach_info_list">
          <li><b>{{player.name}}</b></li>
          <li>生日:
            <template [ngIf]="player.birthday">
              {{player.birthday | df:'yyyy-MM-dd'}}
            </template>
          </li>
          <li>国籍:{{player.country}}</li>
          <li>出生地:{{player.birthplace}}</li>
        </ul>
      </div>
    </div>
    <!-- 执教生涯 -->
    <template [ngIf]="player.introduce">
      <div class="part_title">
        <div class="bar_left">&nbsp;</div>
        <div class="bar_border">
          <div class="bar_middle"></div>
          <div class="bar_right">&nbsp;</div>
        </div>
      </div>
      <div [innerHTML]="player.introduce" class="part_box"></div>
    </template>
  </div>
  <!-- APP下载提示 -->
  <div class="download_app">
    <div class="APP_logo"><img src="http://s.files.c-f.com/APP_logo.png"/></div>
    <div class="logo_name">
      <b>中国足球网</b>
    </div>
    <img class="bg_yellow" src="http://s.files.c-f.com/share_btn.png" />
    <a href="http://www.c-f.com/download">立即下载</a>
    <span>&nbsp;</span>
  </div>
</template>

