<header>
  <div class="per100 header_bg">
    <div class="header_con">
        <a class="logo_image" [routerLink]="['/Home']" title="中国足球网"> </a>
        <span class="slogin">中国足球网与中国足球一起出发</span>
        <span class="logo_beta">&nbsp;</span>
        <!-- <a class="text_link1" href="http://www.fa.org.cn/" target="_blank" title="中国足球协会官网">中国足球协会</a> -->
    </div>
  </div>
</header>
<div class="placeholder"></div>
<nav>
<div class="per100 bg_navi">
	<div class="navi_list">
		<template ngFor let-item [ngForOf]="categories" let-i="index">
			<template [ngIf]="i>0"> <span> | </span> </template>
			<a
      [style.color]="selectStyle(item)" [style.border-color]="selectStyle(item)" (mouseenter)="hoverStyle(item)" (mouseleave)="cleanStyle(item)" (click)="activeItem(item)" [routerLink]="[item.page]">{{item.name}}</a>
		</template>
	</div>
</div>
</nav>
<router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
<div class="map_box">
  <div class="web_map">
      <ul class="wt1">
          <li class="map_title"><a [routerLink]="['/Home']">首页</a></li>
          <!--<li class="map_title"><a [routerLink]="['/Top12']">十二强赛事介绍</a></li>-->
          <!--<li class="map_title"><a [routerLink]="['/Scoreboard']">十二强赛事积分榜</a></li>-->
          <li class="map_title"><a [routerLink]="['/CN-Man-Player']">中国男足</a></li>
          <li class="map_title"><a [routerLink]="['/CN-Woman-Player']">中国女足</a></li>
          <li class="map_title"><a [routerLink]="['/CN-Youth-Player']">青少年足球</a></li>
          <li class="map_title"><a [routerLink]="['/Coach']">教练员</a></li>
          <li class="map_title"><a [routerLink]="['/Refeer']">裁判员</a></li>
      </ul>

      <ul class="wt2">
          <li class="map_title"><a [routerLink]="['/Training']">教学培训</a></li>
          <template [ngIf]="trainingCats&&trainingCats.length>0">
          	<template ngFor let-item [ngForOf]="trainingCats">
          		<li *ngIf="item.type==1" class="map_list"><a [routerLink]="['TrainingVideo',{id:item.id}]">{{item.name}}</a></li>
          		<li *ngIf="item.type==2" class="map_list"><a [routerLink]="['TrainingText',{id:item.id}]">{{item.name}}</a></li>
                <li *ngIf="item.type==4" class="map_list"><a [routerLink]="['TrainingAnimate',{id:item.id}]">{{item.name}}</a></li>
          	</template>
          </template>
          <li class="map_list"><a [routerLink]="['TrainingDownload']">资料文档</a></li>
      </ul>

      <ul class="wt2">
          <li class="map_title"><a [routerLink]="['/Quiz']">规则测试</a></li>
          <template [ngIf]="quizCats&&quizCats.length>0">
			<template ngFor let-item [ngForOf]="quizCats" >
				<template [ngIf]="!item.cats">
				<li class="map_list">
				<a [routerLink]="['QuizStart',{id:item.id}]">{{item.name}}</a>
				</li>
				</template>
				<template [ngIf]="item.cats&&item.cats.length>0">
				<li class="map_list">
				<a [routerLink]="['QuizPre',{id:item.id}]">{{item.name}}</a>
				</li>
				</template>
			</template>
          </template>
          <li class="">&nbsp;</li>
          <!-- <li class="map_title"><a [routerLink]="['/About']">关于我们</a></li> -->
          <li class="map_title"><a [routerLink]="['/Download']">手机客户端下载</a></li>
      </ul>

      <ul class="wt1">
          <!-- <li class="map_title"><a href="http://www.fa.org.cn/" target="_blank">中国足协官网</a></li>
          <li class="map_title"><a href="http://www.fifa.com/" target="_blank">国际足联官网</a></li>
          <li class="map_title"><a href="http://www.the-afc.com/" target="_blank">亚足联官网</a></li>
          <li class="map_title"><a href="http://www.uefa.cn/uefaeuro/index" target="_blank">欧足联官网</a></li>
          <li class="map_title"><a href="http://www.hkfa.com/" target="_blank">香港足协</a></li>
          <li class="map_title"><a href="http://www.ctfa.com.tw/" target="_blank">台湾足协</a></li>
          <li class="map_title"><a href="http://www.macaufa.com/" target="_blank">澳门足协</a></li> -->
      </ul>
  </div>
</div>
