<div class="per100_bg2">
    <div class="con_width990">
        <div class="part_title" style="border-bottom:none;height:20px;margin:0;">
            <span class="spanleft">&nbsp;</span>
        </div>
        <div class="part_box2">
            <div *ngIf="materialList&&materialList.length>0" class="download_list">
                <div class="list_bar" *ngFor="let item of materialList">
                    <template [ngIf]="item.type=='mp3'">
                        <a (click)="playAudio(item.id,$event)">{{item.name}}</a>
                        <a class="link_down" href="{{imgPrefix}}{{item.url}}?attname=" target="_blank" download="{{item.name}}{{item.type}}"  title="下载">&nbsp;</a>
                        <a class="link_play" (click)="playAudio(item.id,$event)" title="试听">&nbsp;</a>
                        <div [style.display]="(item.id==currId)?'block':'none'" class="play_audio">
                            <audio id="audio_{{item.id}}" preload="auto" src="{{imgPrefix}}{{item.url}}" controls></audio>
                        </div>
                    </template>
                    <template [ngIf]="item.type=='pdf'">
                        <a href="{{imgPrefix}}{{item.url}}" target="_blank">{{item.name}}</a>
                        <a class="link_down" href="{{imgPrefix}}{{item.url}}?attname=" target="_blank" download="{{item.name}}.{{item.type}}"  title="下载">&nbsp;</a>
                        <a class="link_view" href="{{imgPrefix}}{{item.url}}" title="预览" target="_blank">&nbsp;</a>
                    </template>
                </div>
            </div>
            <div #loadMore *ngIf="loadMoreFlag" (window:scroll)="onScroll($event)" style="display: none;" >
                <a (click)="loadMore()" href="javascript:void(0);">加载更多</a>
            </div>
        </div>
    </div>
</div>
