<div class="part_box">
	<div  *ngIf="currPost" class="news_header">	
		<a #currShowTitle class="title_bg" [routerLink]="['Detail',{id:currPost.id}]" target="_blank">{{currPost.title}}</a>
		<a [routerLink]="['Detail',{id:currPost.id}]" target="_blank">
		<img alt="{{currPost.title}}" #currShowImg src="{{currPost.image}}?imageView/1/w/660/h/495" />
		</a>
	</div>
	<ul class="news_list">
		<li *ngFor="let item of tops" (mouseenter)="swichTop(item)">
			<a [class.this_point]="item.id==currPost.id"  [routerLink]="['Detail',{id:item.id}]" target="_blank" >
				<table height="100%"><tr><td valign="middle">{{item.title}}</td></tr></table>
			</a>
		</li>
	</ul>
</div>