<div class="per100_bg2">
	<div class="con_width990">
	<template [ngIf]="quizCats&&quizCats.length>0">
		<div class="part_box">
		<template ngFor let-item [ngForOf]="quizCats" >
			<template [ngIf]="!item.cats">
			<a class="cd_box2" [routerLink]="['QuizStart',{id:item.id}]">
				<img src="{{imgPrefix}}web/{{item.image}}" />
				<span class="text_bg">{{item.name}}</span>
			</a>
			</template>
			<template [ngIf]="item.cats&&item.cats.length>0">
			<a class="cd_box2" [routerLink]="['QuizPre',{id:item.id}]">
				<img src="{{imgPrefix}}web/{{item.image}}" />
				<span class="text_bg">{{item.name}}</span>
			</a>
			</template>
		</template>	
		</div>
	</template>	
	</div>
</div>