<div class="per100_bg2">
	<div class="video_width">
		<div class="video_show">
			<!-- 10秒钟答题 类型1 -->

			<template [ngIf]="quizResult.currIndex>=0">
				<template [ngIf]="quizResult.playend==false">
					<template [ngIf]="currPage.video">
						<video autoplay="" (ended)="videoPlayEnd()">
							<source src="{{imgPrefix}}{{currPage.video.videoPath}}/HD" type="video/mp4">
						</video>
					</template>
				</template>
				<template [ngIf]="quizResult.playend==true">
					<div class="box_2">
						<div class="box_bt">
							<span>题目-{{quizResult.currIndex+1}}</span>
						</div>
						<div class="box_answer">
							<ul class="left_list">
								<template [ngIf]="currPage.video">
								<li *ngFor="let item of currPage.video.r1">
									<span>{{item.text}}</span>
									<span [class.mark_yes]="item.index==r1_index" [class.mark_no]="item.index!=r1_index" (click)="chooseOption('r1',item.right,item.index)">&nbsp;</span>
								</li>
								</template>
							</ul>
							<ul class="mid_list">
								<li class="correct">
									<span class="num_m">&nbsp;</span>
									<span class="num">{{quizResult.successNum}}</span>
								</li>
								<li class="error">
									<span class="num_m">&nbsp;</span>
									<span class="num">{{quizResult.errorNum}}</span>
								</li>
							</ul>
							<ul class="right_list">
								<template [ngIf]="currPage.video">
								<li *ngFor="let item of currPage.video.r2">
									<span [class.mark_yes]="item.index==r2_index" [class.mark_no]="item.index!=r2_index" (click)="chooseOption('r2',item.right,item.index)">&nbsp;</span>
									<span>{{item.text}}</span>
								</li>
								</template>
							</ul>
						</div>
						<div class="box_bt">
							<a (click)="startQuiz(quizResult.currIndex+1)" href="javascript:void(0);">跳过这一题</a>
						</div>
					</div>
				</template>
				
			</template>
			
			<template [ngIf]="quizResult.currIndex==-1">
				<div class="box_2">
					<div class="box_bt">
						<span>测试</span>
					</div>
					<div *ngIf="currCat" class="box_info">
						<p>{{currCat.text}}</p>
					</div>
					<div class="box_bt">
						<a (click)="startQuiz(0)" href="javascript:void(0);">开始测试</a>
					</div>
				</div>
			</template>	
			<template [ngIf]="quizResult.currIndex==-2">
				<div class="box_2">
					<div class="box_bt">
						<span>测试结果</span>
					</div>
					<div class="box_answer">
						<ul class="result_s">
							<li class="correct">
								<span class="num_m">&nbsp;</span>
								<span class="num">{{quizResult.successNum}}</span>
							</li>
							<li class="error">
								<span class="num_m">&nbsp;</span>
								<span class="num">{{quizResult.errorNum}}</span>
							</li>
						</ul>
						<ul class="result_t">
							<li>
								{{quizResult.msg}}
							</li>
						</ul>
					</div>
					<div class="box_bt">
						<a (click)="continueQuiz()" href="javascript:void(0);">继续挑战</a>
					</div>
				</div>

			</template>	
			
		</div>
	</div>
</div>