<div class="header_con">
  <a class="CF_logo" href="http://www.c-f.com" title="中国足球网"> </a>
  <span>中国足球网</span>
</div>
<div class="con_width">
  <!-- 教练简历 -->
  <div class="page_title"></div>
  <div class="part_box">
    <div class="user_box">
      <div class="member_header">
        <img src="http://s.files.c-f.com/liudianqiu.jpg?imageView/1/w/300/h/400" />
      </div>
      <ul class="info_list">
        <li><b>刘殿秋</b></li>
        <li>生日:</li>
        <li>国籍:中国</li>
        <li>出生地:</li>
      </ul>
    </div>
  </div>
  <!-- 运动生涯 -->
  <div class="part_title">
    <div class="bar_left">&nbsp;</div>
    <div class="bar_border">
      <div class="bar_middle"></div>
      <div class="bar_right">&nbsp;</div>
    </div>
  </div>
  <div class="part_box"><p>2007年，南京有有俱乐部的投资方斯威特集团资金链在断裂后，俱乐部就开始拖欠队员工资，2010年4月21日，南京有有客场挑战广州恒大，主力球员集体罢赛，只有12名球员前往广州，最终在客场0-10输球。这个比分不仅创下了中甲联赛的单场最大比分纪录，也是中国足球职业化以来单场净胜球最高纪录。</p>
    <p>负责中甲联赛的职业部主任刘殿秋为解决欠薪，亲赴南京协调，韦迪在了解情况后对刘殿秋表示：“责成俱乐部尽快解决，如果不能解决也要立即给答复，这件事不能拖下去。”
      刘殿秋抵达南京后立即与南京体育局和俱乐部负责人召开会议协商解决，可是会上只得到了俱乐部方面的解释，却没有听到任何解决的措施。唯一的曙光出现在南京体育局方面，他们答应会把这件事向市委市政府汇报，“通过市里给解决”，带着并不乐观的结果，刘殿秋回到了北京</p>
    <p>2011年05月08日，因未能解决球员欠薪问题，已经降入乙级联赛的南京有有被中国足协取消注册资格，从此退出中国足坛。 刘殿秋说：“有有注册中乙失败，该队不能参加任何级别和形式的职业联赛。”有有队面临解散的境地，队员未来去向成了问题。刘殿秋表示：“根据足协规定，俱乐部欠薪超过3个月，球员可转为自由人，有有球员如果还想踢球，可作为自由人参加今年6月赛季中期的二次转会。</p></div>
</div>
<!-- APP下载提示 -->
<div class="download_app">
  <div class="APP_logo">&nbsp;</div>
  <div class="logo_name">
    <b>中国足球网</b>
  </div>
  <a href="http://www.c-f.com/download">立即下载</a>
  <span>&nbsp;</span>
</div>
