<div class="header_con">
  <a class="CF_logo" href="http://www.c-f.com" title="中国足球网"> </a>
  <span>中国足球网</span>
</div>
<div class="text_box">
  <div class="text_title">
    <p>蔡振华确定将飞赴沈阳督战 足协五大高层聚齐</p>
    <span>2016-09-06 00:19</span>
    <span>来源</span>
  </div>
  <div class="text_con">
          <span><p class="p_img"><img src='http://s.files.c-f.com/images/o_1artifoh11von9mf15j91e45i0j7'/></p>
<p>体育头条沈阳讯 9月6日下午，国足将在沈阳迎来十二强赛第二支对手伊朗队，根据记者得到的消息，中国足协主席蔡振华以及另外四位足协高层将齐聚沈阳为国足助威。</p>

<p>
  国足客战韩国的比赛中，蔡振华因为党校学习无缘现场督战，当国足转战沈阳迎来首个主场比赛，有报道称蔡振华依然无法现场为国足助威，这确实让人遗憾。沈阳今日下午举办了一个中国足球论坛，蔡振华原本在被邀请的名单当中，组委会甚至在发媒体通知时都写上了他将出席，最终也是未能现身。</p>

<p>但今日下午，此事得到转机，记者得到消息，蔡振华将在9月6日当天飞赴沈阳督战，而在此之前，足协常务副主席张剑、副主席李毓毅以及于洪臣、林晓华两位执委也已经来到沈阳，足协五大高层同时来观看中国队的比赛，这也是过往并不多见的。</p>
<p class="p_img"><img src='http://s.files.c-f.com/images/o_1artig6uephbufp1aot1gln1s5pc'/></p>
<p>
  由于这是中国队的第一个主场比赛，不仅大量球迷来到沈阳助威，中国足球圈的很多业内人士也同样将现场观看，很多老国脚以及国内俱乐部的官员都来到沈阳，中国足协也有很多部门的人员来到沈阳，其中包括教练委员会、技术委员会等一些专项委员会的成员来到沈阳开会，同时为国家队献计献策。</p>
</span>
  </div>
</div>
<!-- APP下载提示 -->
<div class="download_app">
  <div class="APP_logo">&nbsp;</div>
  <div class="logo_name">
    <b>中国足球网</b>
  </div>
  <a href="http://www.c-f.com/download">立即下载</a>
</div>
