<div class="per100_bg2">
	<div class="video_width">
		<div class="video_show">
			<!-- 这里是视频播放窗口 -->
			<div class="box_1">
				<template [ngIf]="video">
					<video width="100%" #videoplayer autoplay controls>
						<!-- <source src="{{imgPrefix}}{{video.videoPath}}" type="video/mp4"> -->
						<source src="{{imgPrefix}}{{video.videoPath}}/HD" type="video/mp4">
					</video>	
				</template>
				<template [ngIf]="!video">
					视频正飞奔在网络中...
				</template>
			</div>
			<!-- 弹出层 文本类型 -->
			<div class="box_2" [hidden]="isVideoShow">
				<a class="bt_close" (click)="hidePop()" href="javascript:void(0);">&nbsp;</a>
				<template [ngIf]="detailShow">
				<div class="con_text" [innerHTML]="detailShow">&nbsp;</div>
				</template>
				<template [ngIf]="!detailShow">
					
				<div class="box_answertitle">
				<template [ngIf]="traniningCat">{{traniningCat.name}} - </template>
				<template [ngIf]="video">{{video.title}}</template>
				</div>
					
				
				<div class="box_answerview">
					<template [ngIf]="video&&video.r1&&video.r1.length>0">
						<template [ngIf]="video.r1[0].image">
							<ul class="img_list">
								<li *ngFor="let item of video.r1">
									<span><img src="{{imgPrefix}}{{item.image}}" /></span>
									<a [class.mark_yes]="item.right" [class.mark_no]="!item.right">&nbsp;</a>
								</li>	
							</ul>
						</template>
						<template [ngIf]="!video.r1[0].image">
							<template [ngIf]="!video.r1[0].image&&!video.r2">
							<ul class="one_list">
								<li *ngFor="let item of video.r1">
									<span *ngIf="!item.right" class="mark_no">&nbsp;</span>
									<span *ngIf="item.right" class="mark_yes">&nbsp;</span>
									<span>{{item.text}}</span>
								</li>
							</ul>
							</template>
							<template [ngIf]="!video.r1[0].image&&video.r2&&video.r2.length>0">
							<ul class="left_list">
								<li *ngFor="let item of video.r1">
									<span>{{item.text}}</span>
									<span *ngIf="!item.right" class="mark_no">&nbsp;</span>
									<span *ngIf="item.right" class="mark_yes">&nbsp;</span>
								</li>
							</ul>
							</template>
						</template>
					</template>
					<template [ngIf]="video&&video.r2&&video.r2.length>0">
					<ul class="right_list">
						<li *ngFor="let item of video.r2">
							<span *ngIf="!item.right" class="mark_no">&nbsp;</span>
							<span *ngIf="item.right" class="mark_yes">&nbsp;</span>
							<span>{{item.text}}</span>
						</li>
					</ul>
					</template>
				</div>
				</template>
			</div>
			<!-- 弹出层 决定 -->
		</div>
		<div class="bt_list">
			<div class="bt_control">
				<a class="replay" (click)="focusImportant(0)" href="javascript:void(0);"><span>&nbsp;</span></a>
				<span *ngIf="video&&video.considerations">|</span>
				<a [class.c_here]="1==focusType" *ngIf="video&&video.considerations" (click)="focusImportant(1)" href="javascript:void(0);">考虑因素</a>
				<span *ngIf="video&&video.r1">|</span>
				<a [class.c_here]="2==focusType" *ngIf="video&&video.r1" (click)="focusImportant(2)" href="javascript:void(0);">判罚决定</a>
				<span  *ngIf="video&&video.explanation">|</span>
				<a [class.c_here]="3==focusType" *ngIf="video&&video.explanation" (click)="focusImportant(3)" href="javascript:void(0);">解释说明</a>
				<span *ngIf="video&&video.rule">|</span>
				<a [class.c_here]="4==focusType" *ngIf="video&&video.rule" (click)="focusImportant(4)" href="javascript:void(0);">规则依据</a>
				<span *ngIf="nextPage">|</span>
				<span *ngIf="!nextPage">|</span>
				<a class="prev" *ngIf="prePage" [routerLink]="['VideoDetail',{subjectId:subjectId,categoryId:categoryId,index:videoIndex-1,id:prePage.video.id}]">&nbsp;<span>&nbsp;</span></a>
				<span *ngIf="nextPage">&nbsp;</span>
				<span *ngIf="!nextPage">&nbsp;</span>
				<a class="next" *ngIf="nextPage" [routerLink]="['VideoDetail',{subjectId:subjectId,categoryId:categoryId,index:videoIndex+1,id:nextPage.video.id}]">&nbsp;<span>&nbsp;</span></a>
				<span *ngIf="nextPage">&nbsp;</span>
				<a class="next last" *ngIf="!nextPage" >&nbsp;<span id="last_span">&nbsp;</span></a>
				<span *ngIf="!nextPage">&nbsp;</span>
				<a *ngIf="subjectId&&categoryId" class="back_menu" [routerLink]="['TrainingVideo',{id:subjectId,category:categoryId}]">&nbsp;<span>&nbsp;</span></a>
			</div>
		</div>
	</div>
</div>