<div class="per100_bg2">
	<div class="con_width990">
		<div class="part_box">
			<template [ngIf]="trainingCats&&trainingCats.length>0">
				<template ngFor let-item [ngForOf]="trainingCats" >
				<a *ngIf="item.type==1" class="cd_box" [routerLink]="['TrainingVideo',{id:item.id}]">
					<img src="{{imgPrefix}}web/{{item.image}}" />
					<span class="text_bg">{{item.name}}</span>
				</a>
				<a *ngIf="item.type==2" class="cd_box" [routerLink]="['TrainingText',{id:item.id}]">
					<img src="{{imgPrefix}}web/{{item.image}}" />
					<span class="text_bg">{{item.name}}</span>
				</a>
				<a *ngIf="item.type==4" class="cd_box" [routerLink]="['TrainingAnimate',{id:item.id}]">
					<img src="{{imgPrefix}}web/{{item.image}}" />
					<span class="text_bg">{{item.name}}</span>
				</a>
				</template>
			</template>
			<a class="cd_box" [routerLink]="['TrainingDownload']">
				<img src="{{imgPrefix}}web/elearning_t_download.jpg" />
				<span class="text_bg">资料文档</span>
			</a>
		</div>
	</div>
</div>